body {
  background-color: #fef5ed;
  width: 17.5rem;
  text-align: center;
}

h3{
    color:#99a799;
    font-weight: bold;
    font-size:1rem;
}

form {
  margin: 2rem 0rem;
}

input {
  text-align: center;
  width: 75%;
  height: 1.5rem;
  outline: none;
  border: 2px solid #d3e4cd;
  margin-bottom: 1rem;
}

input::placeholder,
textarea::placeholder {
  color: #adc2a9;
}

textarea {
  text-align: center;
  width: 75%;
  height: 4rem;
  outline: none;
  border: 2px solid #d3e4cd;
  margin-bottom: 1rem;
}

input:focus,
textarea:focus {
  width: 80%;
  border: 2px solid #99a799;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

button {
  width: 75%;
  height: 1.5rem;
  border: none;
  background-color: #adc2a9;
  color: #fef5ed;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

button:hover {
  background-color: #99a799;
}

button:active {
  transform: scale(0);
}

p {
    font-size: 0.85rem;
    color: #99a799;
}

.noDisplay {
    display: none;
}
